.services {
  
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 18px;
}

.card {

    display: flex;
    flex-direction: column;
    gap: 30px;

    

    /* overflow: hidden; */
    h4 {
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        background-color: #77B2D3;
        color: #fff;
        height: 75px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 20px 20px 0 0;
    }

    .box {
        border-radius: 20px;;
        background-color: #fff;
        box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.2);

        height: 380px;

        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        list-style-type: none;
        padding-left: 20px;
        li{


            &::before {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(/public/check.png);
                background-size: cover;
                background-position: center;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }
        }
    }

    h3 {
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;

        border-top: 1px solid #e2e2e2;
        margin-left: 10px;
        margin-right: 10px;

        margin-top: auto;

        span {
            font-size: 30px;
            font-weight: 800;
            color: #CB1D95;
      }
    }

    button {
        padding: 15px;
        border-radius: 15px;
        background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
        color: #fff;
        border: none;

        width: 90%;
        margin: 0 auto;
    }
}
section{
    margin-top: 50px;
}