.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: 75px;
}

nav {
  width: 100%;
  height: 75px;
  background-color: #fff;
}

.header__nav {
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.btn {
  padding: 10px 25px 10px 25px;
  width: 200px;
}

.btn:hover {
  background: linear-gradient(115.11deg, #cb1d95 100.01%, #f32c6d 10.12%);
}
.header__button button {
  cursor: pointer;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  color: #fff;
  border-radius: 10px;
  border: none;
  height: 50px;
  font-size: 16px;
}


.mobile{
  display: none;
}

@media (max-width: 1000px){
  .header__nav, .header__button{
    display: none;
  }   
  .mobile{
    display: block;
  }
  .nav_mob h2{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
  }
  .mobile_links{
    padding-top: 150px  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    button{
      cursor: pointer;
      background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
      color: #fff;
      border-radius: 10px;
      border: none;
      height: 50px;
      font-size: 16px;
    }
  }
}

@media (max-width: 448px) {
  .logo img{
    width: 200px;
  }
}